<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.stamapp">
    <!-- internet access for reading and writing to google sheet -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> <!-- external storage probably not needed if using service account authentication -->
    <!-- but keep for compatibility and possible implementation of temporary offline storage -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> <!-- camera permissions for QR/barcode scanner -->
    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera.autofocus" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ProcessingScreenActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".IndividualCostActivity" />
        <activity android:name=".SharedCostActivity" />
        <activity android:name=".ManualOrderActivity" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".ScanCodeActivity" />
        <activity android:name=".MainActivity">
        </activity>

        <meta-data
            android:name="com.google.android.gms.vision.DEPENDENCIES"
            android:value="barcode" />
    </application>

</manifest>